h5 {
  font-family: "Libre Baskerville", serif;
}

p {
  font-family: "Lato", sans-serif;
  color: #777;
}

ul {
  padding: 0;
  list-style: none;
}

.line {
  width: 10%;
  border: 1px solid #de1f1f;
}

.navbar-light .navbar-toggler-icon {
  background-image: url() !important;
}

.nav-item .nav-link {
  color: #000 !important;
  position: relative;
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  font-weight: 400;
}

.nav-item .active {
  color: #de1f1f !important;
}

.navbar-brand {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  font-weight: 800;
}

.navbar-brand span {
  color: #de1f1f;
}

.bg-back {
  background-color: #fff;
}

.slide img {
  width: 100%;
}

.slide .carousel-item-one {
  background-image: url(../img/item_3.jpg);
  background-size: cover;
}

.slide .carousel-item-two {
  background-image: url(../img/item_2.jpg);
  background-size: cover;
}

.slide .carousel-item-three {
  background-image: url(../img/item_1.jpg);
  background-size: cover;
}

.slide .carousel-control-next .carousel-control-next-icon,
.slide .carousel-control-next .carousel-control-prev-icon,
.slide .carousel-control-prev .carousel-control-next-icon,
.slide .carousel-control-prev .carousel-control-prev-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 20px;
  background-image: url() !important;
  border-radius: 50%;
}

.slide .carousel-control-next .carousel-control-next-icon i,
.slide .carousel-control-next .carousel-control-prev-icon i,
.slide .carousel-control-prev .carousel-control-next-icon i,
.slide .carousel-control-prev .carousel-control-prev-icon i {
  color: #000;
}

.slide .carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

@media (max-width: 800px) {
  .carousel-item-one,
  .carousel-item-three,
  .carousel-item-two {
    background-position: 70% 10%;
  }
}

#SHOP ul li {
  line-height: 40px;
  color: #777;
}

.seeMore {
  outline: none !important;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #777;
}

.new,
.price {
  position: absolute;
  color: #fff;
  padding: 5px 8px;
  background-color: #1A91FF;
  z-index: 5;
}

.new {
  top: 2%;
  right: 0%;
}

.price {
  top: 2%;
  left: 0%;
}

.desc {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.desc p {
  color: #fff;
}

#BOOKS .item-book {
  position: relative;
  overflow: hidden;
}

#BOOKS .item-book:hover .desc {
  top: 0;
}

#TOPRATE .rate {
  color: #ffb100;
}

#TOPRATE h5 {
  color: #777;
}

#TOPRATE .price-rate {
  font-size: 20px;
  color: #de1f1f;
}

.timer {
  background-image: url(../img/bg_support.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  font-size: 30px;
  font-weight: 700;
}

.book-item {
  position: relative;
}

.description {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.description i {
  color: #ffb100;
}

.owl-carousel {
  overflow: hidden;
}

.owl-nav {
  font-size: 30px;
}

.owl-nav button {
  outline: none;
}

.owl-prev i {
  position: absolute;
  top: 40%;
  left: -25px;
  font-size: 20px;
  color: #1A91FF;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.owl-prev i:hover {
  color: #fff;
  background-color: #1A91FF;
}

.owl-next i {
  position: absolute;
  top: 40%;
  right: -25px;
  font-size: 20px;
  color: #1A91FF;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.owl-next i:hover {
  color: #fff;
  background-color: #1A91FF;
}

.oldPrice {
  color: #de1f1f;
  text-decoration: line-through;
}

.activeX {
  background-color: #fff;
}

footer {
  color: #fff !important;
  background-color: #000;
}

footer ul li {
  line-height: 30px;
}

footer a {
  color: #fff !important;
  text-decoration: none !important;
}

footer .col-md-3:first-of-type a {
  font-size: 22px;
  font-weight: 700;
}

footer .col-md-3:first-of-type a span {
  color: #de1f1f;
}

#SHOP,
#BOOKS,
#TOPRATE,
#BestSELLER,
#Discounts,
#count,
#AUTHOR {
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999999999999999999;
}

#loading .sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

#loading .sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

#loading .sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#loading .sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

#loading .sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

#loading .sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

#loading .sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#loading .sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

#loading .sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

#loading .sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

#loading .sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
/*# sourceMappingURL=index.css.map */